.circularcomponent {
  position: relative;
  background: #fff;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  padding: 1%;
}

.circularcomponent.paper {
  background-image: radial-gradient(#4865F4,#5671F5);
  box-shadow: 0 10px 0px -5px #2944C2;
}
.circularcomponent.scissor {
  background-image: radial-gradient(#EC9E0E, #ECA922);
  box-shadow: 0 10px 0px -5px #C76C1B;
}
.circularcomponent.rock {
  background-image: radial-gradient(#DC2E4E, #DD405D);
  box-shadow: 0 10px 0px -5px #9D1732;
}
.circularcomponent.spock {
  background-image: radial-gradient(#3EB8CD,#4FBED1);
  box-shadow: 0 10px 0px -5px #2F90AC;
}
.circularcomponent.lizard {
  background-image: radial-gradient(#834DE4, #8D5FE4);
  box-shadow: 0 10px 0px -5px#5D36A7;
}

.circularcomponent img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
}


.innerCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 9rem;
  height: 9rem;
  background: white;
  border-radius: 50%;
  box-shadow: inset 0 10px 3px -5px rgb(188, 192, 218);
}

/* advanced scene */
.circularcomponent.advanced {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.innerCircle.advanced{
   width: 5rem;
  height: 5rem;
}
.circularcomponent.advanced img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
}


/* choice based animation */
.circularcomponent.house {
  opacity: 0;
  animation: fadein 1s ease-in 0.4s forwards;
}

@keyframes fadein {
  0%   {opacity: 0}
  25%  {opacity: 0}
  50%  {opacity: 0}
  75%  {opacity: 0.5}
  100% {opacity: 1}
}

.circularcomponent.user {
  opacity: 0;
  animation: fadeinuser 1s ease-in forwards;
}

@keyframes fadeinuser {
  0%   {opacity: 0.1}
  25%  {opacity: 0.2}
  50%  {opacity: 0.4}
  75%  {opacity: 0.9}
  100% {opacity: 1}
}

.playagain h1 {
  opacity: 0;
  animation: fadeinresult 1s ease-in 1.5s forwards;
}

@keyframes fadeinresult {
  0%   {opacity: 0.1}
  25%  {opacity: 0.2}
  50%  {opacity: 0.4}
  75%  {opacity: 0.9}
  100% {opacity: 1}
}

.playagain.visible {
  width: 0;
  animation: playagain 4s ease-in forwards;
}
@keyframes playagain {
  0%   {opacity: 0;
        }
  25%  {opacity: 0}
  50%  {opacity: 0}
  75%  {opacity: 0}
  100% {opacity: 1; width: 100%;}
}


@media only screen and (max-width: 690px) {
  .circularcomponent {
    width: 10rem;
    height: 10rem;
  }
  .innerCircle {
    width: 7rem;
    height: 7rem;
  }
}

@media only screen and (max-width: 500px) {
  .circularcomponent {
    width: 8rem;
    height: 8rem;
  }
  .innerCircle {
    width: 5rem;
    height: 5rem;
  }

  .basic .basic-top{
    transform: translate(0, -40%);
  }
  .basic .basic-bottom{
    transform: translate(0, 20%);
  }
  .mainpage {
    width: 32rem;
  }
}
