.advanced-container {
    display: flex;
    background-image: url("../../../assets/bg-pentagon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid #fff; */
  }
  
  .advanced-top {
    display: flex;
    justify-content: center;
    padding: 1% 3%;
    /* border: 1px solid crimson; */
  }

  .advanced-middle {
    display: flex;
    justify-content: space-between;
    padding: 1% 3%; 
    /* border: 1px solid crimson; */
  }
  
  .advanced-bottom {
    display: flex;
    justify-content: space-around;
    padding: 1%;
    /* border: 1px solid crimson; */
  }
  
