.playboard{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 10%);
    transform: translate(-50%, 10%);
    width: 100%;
    padding: 3% 8% 1% 8%;
    top: 13rem;
    width: 48rem;
}
.playboard-card .notclickable {
    position: relative;
    z-index: 5;
}


.playboard-card .notclickable:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: transparent;
    /* border: 1px solid crimson; */
    z-index: 10;
}


.playboard .circularcomponent {
    width: 18rem;
    height: 18rem;
}


.playboard .innerCircle{
    width: 14rem;
    height: 14rem;
}

.playboard-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.playboard-card h2 {
    color: #fff;
    padding-bottom: 6%;
}


.playboard.hidden {
    display: none;
}


/************/
.circular-spot {
    position: absolute;
    margin: 0 auto;
    /* top: 125px;
    left: 400px; */
    transform: translate(-21.5%, 11.5%);
    width: 12rem;
    height: 12rem;
    background: #182341;
    border-radius: 50%;
    /* z-index: 100; */
  }

  .circular-spot {
    animation: spot 4s ease-in forwards;
  }
  
  @keyframes spot {
    0%   {left: 500px}
    25%  {left: 500px}
    50%  {left: 600px}
    75%  {left: 600px}
    100% {left: 640px}
  }


  @media only screen and (max-width: 1000px) {
    .playboard {
        width: 36rem;
    }
}